<div style="padding: 10px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <i ng-class="vm.currentIcon" style="font-size: 3em; padding-top:5px;"></i>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Current Weather</h4>
            <div ng-show="vm.weather.currently">
                <p>
                    <span>Temp: {{vm.weather.currently.temperature}}<i class="wi wi-fahrenheit" style="font-size:1.2em;"></i></span>
                    <span style="margin-left: 20px;">Humidity: {{((vm.weather.currently.humidity * 100).toFixed(2))}}<i class="wi wi-humidity" style="font-size:1.2em;"></i></span>
                    <span style="margin-left: 20px;">Feels: {{vm.weather.currently.temperature}}<i class="wi wi-fahrenheit" style="font-size:1.2em;"></i></span>

                </p>
                <p>
                    <span>Dew: {{vm.weather.currently.dewPoint}}<i class="wi wi-fahrenheit" style="font-size:1.2em;"></i></span>
                    <span style="margin-left: 20px;">Wind:  {{vm.weather.currently.windSpeed}} MPH <i ng-if="vm.weather.currently" ng-class="vm.windDir(vm.weather.currently.windBearing)" style="font-size:1.5em;"></i></span>
                </p>
                <p>
                    <span>Barometer: {{vm.weather.currently.pressure}} <i class="wi wi-barometer" style="font-size:1.5em;"></i></span>
                    <span style="margin-left: 20px;">Chance of Rain: {{vm.weather.currently.precipProbability + '%'}} <i class="wi wi-rain" style="font-size: 1.5em;"></i></span>
                </p>
                <p> Summary: {{vm.weather.currently.summary}}</p>

                <p>Updated: {{vm.weather.currently.time | date : 'medium'}}</p>
            </div>

        </div>
    </div>
    <hr>
    <button class="btn btn-default" style="border-radius:0px;">Weather Details</button>
</div>