html, body {
    height: 100%;
    width: 100%;
}
#background {
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.monsoon-panel {
   background-color: white;
}