<table class="table">
    <thead>
        <tr>
            <th>Zone</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td><td>Hydro Zone</td><td><h4 style="padding: 0px; margin: 0px;"><span class="label label-success" ng-show="vm.zoneActive">On</span><span class="label label-default" ng-show="!vm.zoneActive">Off</span></h4></td><td><div class="btn-group"><button class="btn btn-default btn-sm" ng-disabled="vm.zoneActive" ng-click="vm.zoneActive = true">On</button><button class="btn btn-default btn-sm" ng-click="vm.zoneActive = false"ng-disabled="!vm.zoneActive">Off</button></div></td>
        </tr>
    </tbody>
</table>