<img class="bg-image" ng-show="vm.imgLoaded" ng-src="{{vm.bgImg}}">
<div id="monsoon-main">
    <div class="container">

        <div class="row monsoon-panel">
            <div class="col-xs-12">
                <div class="row">

                    <div class="col-xs-6"><img src="img/monsoon_logo.png"></div>
                    <div class="col-xs-6">
                        <div ui-view="opt"></div>
                    </div>
                </div>
                <div class="row">
                    <div ui-view="nav"></div>
                </div>
                
                <div ui-view="main"></div>
            </div>
        </div>
    </div>
</div>